/.backup*/
**/data*/
.Renviron
Rplots.pdf
filetree.yml
/_metadata.yml
/docs/output/
/*.rmarkdown
/*_files/
/*_rapport-stat.*
/.claude/
/.quarto/
**/*.quarto_ipynb
/.luarc.json
/manuscrit
NOTES.md
TODO.md
